apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: netshoot
  name: netshoot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: netshoot
  template:
    metadata:
      labels:
        app: netshoot
    spec:
      containers:
      - args:
        - /bin/sh
        - -c
        - sleep 99d;
        image: ghcr.io/nicolaka/netshoot:v0.14
        imagePullPolicy: Always
        name: netshoot